body {
    height: 500px;
    width: 300px;

}


.heading {
    text-align: center;
    border-radius: 3%;
    color: black;
    font-size: x-large;
    font-family: Impact, sans-serif;
}

img {
    max-width: 100%;
    /* Prevents the image from becoming wider than its container */
    height: auto;
    /* Keeps the aspect ratio */
}


#time {
    text-align: center;
}


.buttons {
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    /* Adjust spacing between the divs */

}
